.description-form {
  flex: 1;
}
.image-form {
  flex: 1;
}
.__card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}
.pdts-header-btns {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}
.new_product_form {
  display: flex !important;
}
.pdts-header-btns {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}
.pdts-grid-ctr {
  padding: 20px 15px;
}

/**
styles for new product
*/
.pdts-form-ctr {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  margin: 10px 15px;
  padding: 15px;
  border-radius: 5px;
}
.progress_bar_new_product {
  margin: 10px 15px;
  border-radius: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 1.2s ease-in;
}
.progress_bar_new_product > div {
  background-color: #85b811;
  height: 100%;
  border-radius: 5px;
}
.new_product_form {
  display: flex !important;
}
.inputs_ctr {
  flex: 1.5;
}
.image-ctr {
  flex: 1;
}
.inputs_ctr {
  margin-right: 15px;
}
.inputs_ctr_flex {
  display: flex;
  justify-content: space-between;
}

.inputs_ctr_border {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
}
.new_pdt_btn_refs_ctr {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .new_pdt_btn_refs_ctr {
    margin: 5px;
  }
  .inputs_ctr {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
  }
  .new_product_form {
    display: flex !important;
    flex-direction: column;
  }
  .home-body {
    margin-left: 0vh;
    margin-right: 0vh;
    margin-top: 0vh;
  }
  .bb {
    margin-top: 10vh;
  }
  .copyright {
    margin: 0px !important;
    padding: 0px !important;
  }
  h2 {
    font-size: 16px;
  }
}
