.registerform {
  display: flex;
  flex: 2;
}

.description {
  flex: 1;
}
.form {
  flex: 1;
  margin: 0px 40px 20px 40px;
}
.registerhostelowner {
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .registerform {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .home-body h2 {
    margin-top: 14vh;
  }
  .description {
    background-color: rgb(250, 247, 247);
    /* background-color: white; */
  }
  img {
    margin: 20px 0px 0px 20px !important;
  }
  .registerhostelowner {
    background-color: rgb(250, 247, 247);
  }
  .submit-btn {
    margin-left: 80px !important;
  }
  .reg-textfield {
    left: 0px !important;
    margin-left: 13px !important;
    padding-left: 0px !important;
    width: 90% !important;
  }
  .registerhostelowner div {
    margin-left: 0px;
    padding-left: 0px;
  }
}
