span{
  text-decoration: none;
}
/* .sidebar {
  width: 25vh;
  height: 100vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}
.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}
.icons {
  display: flex;
  align-items: center;
  padding: 5px;
  color: gray;
}
.icons p {
  padding-left: 7px;
}
.icons:hover {
  background-color: #727cf5;
  color: white !important;

}
.icons p:hover {
  color: white;
}
@media screen and (max-width: 500px) {
  .sidebar {
    display: none;
  }
} */
