.header-ctr {
  display: flex;
  width: 100%;
  /* margin-top: 6px !important; */
  height: 10vh;
  background-color: #727cf5;
  /* background-color: white; */
  justify-content: space-between;
  position: fixed;
}
.beaconLogo h2 {
  font-weight: bolder;
  margin-top: 5px;
  font-size: 35px;
  color: gray;
}
.userdetails p {
  color: gray;
  margin-top: 3px;
  padding: 0px 5px 0px 5px;
  font-size: 20px;
}
.beaconLogo {
  display: flex;
}
.div-bar {
  display: none;
}
@media screen and (max-width: 500px) {
  .header {
    height: 10vh;
  }
  .div-bar {
    display: block;
  }
  .beaconadminlogo h2 {
    font-size: x-large;
    margin-top: 13px;
  }
}
